/* @keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-background-animated {
  background: linear-gradient(
    315deg,
    #fffff1,
    #1883e0,  #ffffff,
    #dae6ff,
    #cbeeff,
    #aec8ff,
    #d7f2ff,
    #f1f3ff
  );
  background-size: 300% 300%;
  animation: gradientMove 20s ease infinite;
} */

@layer reset, base, tokens, recipes, utilities;

/* Swiper custom styles */
.product-swiper {
  --swiper-theme-color: #6294FF !important;
}

.product-swiper .swiper-pagination {
  position: absolute;
  bottom: 10px !important;
  z-index: 10;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  visibility: visible !important;
  margin-bottom: 10px;
}

/* Adding white semi-transparent rounded background */
.product-swiper .swiper-pagination::before {
  content: "";
  position: absolute;
  width: auto;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 12px;
  z-index: -1;
  min-width: 80px;
  /* margin-bottom: 10px; */
}

.product-swiper .swiper-pagination-bullet-active {
  background-color: #6294FF;
}

.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
  width: 26px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

/* Adding white semi-transparent rounded background to navigation arrows */
.product-swiper .swiper-button-next::after,
.product-swiper .swiper-button-prev::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px !important;
  font-weight: 900 !important;
  text-shadow: 0px 0px 1px #6294FF, 0px 0px 1px #6294FF, 0px 0px 1px #6294FF;
  -webkit-text-stroke: 1px #6294FF;
}
