@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-background-animated {
  background: linear-gradient(
    315deg,
    #fffff1,
    /* #1883e0, */ #ffffff,
    #dae6ff,
    #cbeeff,
    #aec8ff,
    #d7f2ff,
    #f1f3ff
  );
  background-size: 300% 300%;
  animation: gradientMove 20s ease infinite;
}

@layer reset, base, tokens, recipes, utilities;
